---
layout: default
Title: piRover Build 
Doc: piRover Build 
Doc_url: piRoverBuild.pdf
Video: None
Video_url: None
Video2: None
Video2_url: None
Resource_url: None
Act: None
Act_url: None
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>piRover Builds by K2</title>
  </head>
  <body>
    <h1>piRover Builds by K2</h1>
    <h2>{{ page.Title }}</h2>
    <ul>
        {% if page.Doc != "None" %}
          <li><b>Document:</b> <a href={{ page.Doc_url }} target="_blank">{{ page.Doc}}</a></li>
        {% endif %}
        {% if page.Video != "None" %}
          <li><b>Video:</b>  <a href={{ page.Video_url }} target="_blank">{{ page.Video}}</a></li>
        {% endif %}
        {% if page.Video2 != "None" %}
          <li><b>Video:</b>  <a href={{ page.Video2_url }} target="_blank">{{ page.Video2}}</a></li>
        {% endif %}
        {% if page.Resource != "None" %}
          <li><b>Resource:</b>  <a href={{ page.Resource_url }} target="_blank">{{ page.Resource}}</a></li>
        {% endif %}
        {% if page.Act != "None" %}
          <li><b>Activity:</b>  <a href={{ page.Act_url }} target="_blank">{{ page.Act}}</a></li>
        {% endif %}
    </ul>
    {{  
      ## Yahboom Instruction Manual   
      -	[Page 1](G1TankManual1.jpg)
      -	[Page 2](G1TankManual2.jpg)
      ## Yahboom Videos  
      -	[Build/Install 1](https://youtu.be/kTponIDKDJI)
      -	[Build/Install 2](https://youtu.be/QYWQK7j3DGc)
      - [Build/Install 3](https://youtu.be/2D9cQfc8oc0)
      ## K2 Videos  
      -	[piRover - Build 1](https://youtu.be/yPsVsjkaHys)
      - [piRover - Build 2](https://youtu.be/Tlb-4Ra777o)
      -	[piRover - Build 3a](https://youtu.be/NFFaZZyUyyQ)
      -	[piRover - Build 3b](https://youtu.be/Pxjj1BlSdtw)
    }}
  </body>
</html>
