---
layout: default
Title: piRover Build Preparation
Doc: piRover Build Preparation
Doc_url: piRoverBuildPreparation.pdf
Video: Unboxing the Yahboom G1 Tank Robot
Video_url: https://youtu.be/M0BQUmuoRVw
Video2: Yahboom Website Review
Video2_url: https://youtu.be/4pOjLxtj0QA
Resource: Yahboom G1 Smart Tank Robot Kit 
Resource_url: https://category.yahboom.net/products/g1tank
Act: None
Act_url: None
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>piRover Builds by K2</title>
  </head>
  <body>
    <h1>piRover Builds by K2</h1>
    <h2>{{ page.Title }}</h2>
    <ul>
        {% if page.Doc != "None" %}
          <li><b>Document:</b> <a href={{ page.Doc_url }} target="_blank">{{ page.Doc}}</a></li>
        {% endif %}
        {% if page.Video != "None" %}
          <li><b>Video:</b>  <a href={{ page.Video_url }} target="_blank">{{ page.Video}}</a></li>
        {% endif %}
        {% if page.Video2 != "None" %}
          <li><b>Video:</b>  <a href={{ page.Video2_url }} target="_blank">{{ page.Video2}}</a></li>
        {% endif %}
        {% if page.Resource != "None" %}
          <li><b>Resource:</b>  <a href={{ page.Resource_url }} target="_blank">{{ page.Resource}}</a></li>
        {% endif %}
        {% if page.Act != "None" %}
          <li><b>Activity:</b>  <a href={{ page.Act_url }} target="_blank">{{ page.Act}}</a></li>
        {% endif %}
    </ul>
  </body>
</html>
